body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

h1 {
  text-align: center;
  margin-top: 1.5em;
  font-size: 2em;
  display: block;
}

.card {
  background-color: #121212;
  margin: 1.5em 3em;
  padding: 32px;
  border-radius: 4px;
}

.card h2 {
  color: white;
  margin: 0;
  font-size: 1.5em;
}

.card p {
  color: #b2b2b2;
  font-size: 1.2em;
}

span {
  color: #febe01;
}

a {
  color: #332200;
  background: #febe01;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
}

a:hover {
  color: #332200;
  background: #e5ab00;
}